.contact {
  text-align: center;
  margin-top: 12.5em;
  &__container-title {
    margin-bottom: 3.125em;
  }
  &__title {
    width: 100%;
    @include title($Font2);
    @include box;
    transition: 0.3s ease all;
    body.dark & {
      background: $color-variant;
      color: $color-light;
    }
  }
}

.form-background {
  background-image: url('../img/contact-me.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__transparent {
    min-height: inherit;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
  }
}

.contact-form {
  max-width: 37.5em;
  margin: auto;
  padding: 0 0.625em;
  overflow: hidden;
  &__text {
    display: block;
    width: 100%;
    margin: 6.625em 0 0 0;
    border: 0;
    background: $color-variant;
    color: $color-light;
    padding: 1.25em 2.5em;
    outline: none;
    transition: 0.5s;
    // &:hover {
    //   box-shadow: 0 0 0.625em 0.25em $color-boton;
    // }
  }
  &__textarea {
    resize: none;
    height: 7.5em;
  }
  &__btn {
    border: 0;
    background: #34495e;
    color: $color-light;
    padding: 0.75em 3.125em;
    border-radius: 1.25em;
    cursor: pointer;
    transition: 0.5s;
    margin: 3.125em 0;
    &:hover {
      background: $color-boton;
    }
  }
  &__loader {
    margin: 3.125em 0;
  }
  *::placeholder {
    color: $color-light;
  }
  /* Valid e invalid */
  [required]:valid {
    border: 2.2px solid $color-form-ok;
  }
  [required]:invalid {
    border: thin solid $color-form-error;
  }
  &__response p {
    color: $color-light;
    font-size: 20px;
    margin-top: 30px;
  }
}

.contact-form-error {
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: $color-form-error;
  color: $color-light;
  transition: all 800ms ease;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
