.main-title-proyects {
  &__title {
    transition: 0.3s ease all;
    margin-bottom: 5.625em;
    color: black;
    body.dark & {
      background: $color-variant;
      color: $color-light;
    }
    text-align: center;
    @include title($Font2);
    @include box;
  }
}

.main-proyects {
  background-color: $color-secundary;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  transition: 0.3s ease all;
  body.dark & {
    color: $color-light;
    background: $color-variant;
    &__container {
      background: $sombraLight;
    }
    &__description {
      color: $color-light;
    }
    &__repo--git {
      color: $color-light;
    }
    &__repo--globe {
      color: $color-light;
    }
  }

  &__container {
    margin: 40px 0;
    text-align: center;
    flex: 0 0 50%;
  }
  &__description {
    margin: 0 auto;
    margin-top: 20px;
    width: 40%;
    line-height: 1.25em;
  }
  &__mockup {
    width: 100%;
  }
  &__thumbnail {
    width: 100%;
    margin: 0 auto;
  }
  &__img {
    cursor: pointer;
    vertical-align: top;
    margin: 0;
    padding: 0;
    width: 100%;
    object-fit: cover;
  }
  &__flex-order-1 {
    order: 1;
  }
  &__repo--git {
    margin-right: 10px;
    @include proyect-icon;
    color: $color-variant;
  }
  &__repo--globe {
    @include proyect-icon;
    color: $color-variant;
  }
}
