.title {
  text-align: center;
  margin-top: 12.5em;
  &__proyects {
    width: 100%;
    @include title($Font2);
    @include box;
    transition: 0.3s ease all;
    body.dark & {
      background: $color-variant;
      color: $color-light;
    }
  }
}

.container-proyects {
  background: $color-primary;
  margin-top: 90px;
  transition: 0.3s ease all;
  body.dark & {
    background: $color-variant;
  }
}

.proyects {
  width: 100%;
  &__container {
    max-width: 1500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
    align-items: flex-end;
  }
  &__images__thumbnail {
    width: 100%;
    margin: 50px 0;
  }
  &__images__img {
    width: 100%;
    vertical-align: top;
    opacity: 0.7;
    cursor: pointer;
    animation: scale-img;
    animation-timing-function: ease;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: all 0.3s ease;
    &:hover {
      opacity: 1;
    }
  }
  &__description {
    text-align: center;
    display: block;
    margin: 0.7em 0;
    @include title($Font1);
    color: $color-light;
    font-weight: 700;
  }
  &__technology {
    text-align: center;
    color: $color-light;
    font-size: 0.875em;
  }
  &__icon {
    @include proyect-icon;
  }
  &__container-link {
    display: flex;
    justify-content: center;
  }
  @keyframes scale-img {
    0% {
      transform: sclale(1);
    }
    100% {
      transform: scale(0.9);
    }
  }
}
